---
name: login
url: /
controller : LoginCtrl
animationIn: fadeIn
---

<div class="login-container">
    <div class="vertical medium-horizontal align-center grid-block">
        <div class="grid-block medium-1 large-2 hide-for-small"></div>

        <div class="grid-content medium-5 large-3 login-left">
            <div class="grid-block">
                <div class="small-10 medium-10 large-8 grid-container">
                    <img src="assets/img/310x150.png"/>
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <input placeholder="Username" data-ng-model="user.loginEmail" type="text"
                           data-ng-keypress="($event.which === 13)?loginNow():0">
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <input placeholder="Password" data-ng-model="user.loginPassword" type="password"
                           data-ng-keypress="($event.which === 13)?loginNow():0">
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <a class="button success login-button" href="javascript:;" data-ng-click="loginNow()">LOGIN NOW</a>
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <p class="info">
                        <!--<img zf-iconic="" icon="thumb" size="small" class="iconic-color-warning">-->
                        <i class="fa fa-arrow-circle-o-right fa-icon-warning"></i>
                        Forgot your password? click <a herf="javascript:;">here</a> to retrieve.
                    </p>
                </div>

            </div>
        </div>

        <div class="grid-content medium-1 login-divider">

        </div>

        <div class="grid-content medium-5 large-3 login-right">
            <div class="grid-block">
                <div class="small-10 medium-12 large-11 grid-container">
                    <h4 class="headline">New?</h4>
                </div>
            </div>
            <div class="grid-block">
                <div class="small-10 medium-12 large-11 grid-container">
                    <p class="text">
                        If you loath to report status to management and hate to feed data to any sort of management
                        tools then join the world's only work platform where you work only for yourself.
                        Absolutely no work about work. A global social network of professionals where conversations and
                        self forming groups cause enterprise structures to emerge.
                    </p>
                </div>
            </div>
            <div class="grid-block">
                <div class="small-10 medium-12 large-11 grid-container">
                    <p>
                        <i class="fa fa-arrow-circle-o-right fa-icon-warning"></i><a herf="javascript:;"
                                                                                     class="sign-up-link">SIGN UP</a>
                    </p>
                </div>
            </div>


        </div>

        <div class="grid-block medium-1 large-2 hide-for-small"></div>
    </div>
</div>


