---
name: login
url: /
controller : LoginCtrl
animationIn: fade
animationOut: fade
---
<div class="login-container">
    <div class="vertical medium-horizontal align-center grid-block">
        <div class="grid-block medium-2"></div>
        <div class="grid-content medium-4 login-left">
            <div class="grid-block">
                <img class="logo" src="assets/img/Logo_Text.png" />
            </div>
            <div class="grid-block">
                <input placeholder="Username" data-ng-model="user.loginEmail" type="text">
            </div>
            <div class="grid-block">
                <input placeholder="Password" data-ng-model="user.loginPassword" type="password">
            </div>
            <div class="grid-block">
                <a class="success button login-button" href="javascript:;" data-ng-click="loginNow()">LOGIN NOW</a>
            </div>
            <div class="grid-block">
                <p class="info">
                    <img zf-iconic="" icon="thumb" size="medium" class="iconic-color-warning">
                    Forgot your password? click <a herf="javascript:;">here</a> to retrieve.
                </p>
            </div>
        </div>
        <div class="grid-block medium-1 hide-for-small login-mid"></div>
        <div class="grid-content medium-4 login-right">
            <h4 class="headline">New?</h4>
            <p class="text">
                Lorem ipsum dolor sit amet, consecteur adipising elit. Quisque lobortis vel mauris bibendum tempor.
                Aenean volutpat tristique ex in auctor.
            </p>
            <p>
                <img zf-iconic="" icon="account" size="medium" class="iconic-color-warning"><a herf="javascript:;" class="sign-up-link">SIGN UP</a>
            </p>
        </div>
        <div class="grid-block medium-1"></div>
    </div>
</div>


