---
name: login
url: /
controller : LoginCtrl
animateIn:  fadeIn
---
<div class="login-container">
    <div class="vertical medium-horizontal align-center grid-block">
        <div class="grid-block medium-1 large-2 hide-for-small"></div>

        <div class="grid-content medium-5 large-3 login-left">
            <div class="grid-block">
                <div class="grid-container">
                    <img src="assets/img/Wide-310x150.png" />
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <input placeholder="Username" data-ng-model="user.loginEmail" type="text">
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <input placeholder="Password" data-ng-model="user.loginPassword" type="password">
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <a class="button success login-button" href="javascript:;" data-ng-click="loginNow()">LOGIN NOW</a>
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-9 grid-container">
                    <p class="info">
                        <!--<img zf-iconic="" icon="thumb" size="small" class="iconic-color-warning">-->
                        <i class="fa fa-arrow-circle-o-right fa-icon-warning"></i>
                        Forgot your password? click <a herf="javascript:;">here</a> to retrieve.
                    </p>
                </div>

            </div>
        </div>

        <div class="grid-content medium-1 login-divider">

        </div>

        <div class="grid-content medium-5 large-3 login-right">
            <div class="grid-block">
            <div class="small-10 medium-12 large-11 grid-container">
                <h4 class="headline">New?</h4>
            </div>
        </div>
            <div class="grid-block">
                <div class="small-10 medium-12 large-11 grid-container">
                    <p class="text">
                        Lorem ipsum dolor sit amet, consecteur adipising elit. Quisque lobortis vel mauris bibendum tempor.
                        Aenean volutpat tristique ex in auctor.
                    </p>
                </div>
            </div>
            <div class="grid-block">
                <div class="small-10 medium-12 large-11 grid-container">
                    <p>
                        <i class="fa fa-arrow-circle-o-right fa-icon-warning"></i><a herf="javascript:;" class="sign-up-link">SIGN UP</a>
                    </p>
                </div>
            </div>



        </div>

        <div class="grid-block medium-1 large-2 hide-for-small"></div>
    </div>
</div>


