---
name: myProfile
url: /myProfile
controller: myProfileCtrl
---
<div class="grid-content myProfile">
    <div class="grid-block">
        <div zf-panel id="sidebar" class="large-2 medium-grid-block sidebar vertical">
            <div class="grid-content">
                <a zf-close class="close-button hide-for-medium">&times;</a>
                <section class="block-list custom-block-list">
                    <header class="title">
                        <h3>{{myName}}</h3>
                        <img src="{{myPhoto}}" class="myPhoto"></header>
                    <ul>
                        <li class="networkLinkBackground"><a>Networks</a></li>
                        <li class="spacesLinkBackground"><a>Spaces</a></li>
                        <li class="viewAwardGalleryLinkBackground"><a>View Award Gallery</a></li>
                        <li class="nominateAnAwardLinkBackground"><a>Nominate an Award</a></li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="large-10 small-12 grid-content">
            <div class="grid-container main-docs-section">
                <a class="small secondary expand button hide-for-medium" zf-toggle="sidebar">Show Components</a>

                <div class="grid-block">
                    <div class="grid-content">
                        <div class="grid-block horizontal">
                            <div class="grid-content large-4">

                            </div>
                            <div class="grid-content large-6 small-11">
                                <ksw-compose-signal ksw-signal="signal">

                                </ksw-compose-signal>

                                <ksw-people-picker>

                                </ksw-people-picker>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


