---
name: myProfile.nominateAward
url: nominateAward/:awardId
controller: nominateAwardCtrl
animationIn: slideInRight
---
<div class="grid-block horizontal nominate-award-main">
    <div class="grid-content large-12">
        <div class="grid-block horizontal">
            <div class="grid-content large-5">
                <div class="card custom-card">
                    <img data-ng-src="{{award.imageUri | kswUrlFilter}}">

                    <div class="card-section custom-section">
                        <h4>{{award.title}}</h4>

                        <p>{{award.description}}</p>
                    </div>
                </div>
            </div>
            <div class="grid-content large-4">

                <div class="grid-block">
                    <div class="grid-content">
                        <h4>SETTINGS</h4>
                        </div>
                    </div>
                <div class="grid-block">
                    <div class="grid-content">
                        <label>Award belongs to:</label>
                        <select>
                            <option>Public</option>
                        </select>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="grid-content">
                        <label>Initial pledge required:</label>
                        <input type="text" data-ng-model="award.initialPledgeRequired" ng-readonly="true">
                    </div>
                </div>
                <div class="grid-block">
                    <div class="grid-content">
                        <label>Who can Pledge:</label>
                        <input type="text" data-ng-model="whoCanPledge" ng-readonly="true"/>
                    </div>
                </div>
                <div class="grid-block vertical">
                    <div class="grid-content">
                        <a class="button success" data-ng-click="showConnection()">ADD CANDIDATE</a>
                    </div>

                    <div class="grid-content connection-main" data-ng-if="connections.isShow">
                        <div class="card custom-network-container-card " data-ng-repeat="person in connections.people" data-ng-click="selectCandidate(person)">
                            <div class="grid-block">
                                <div class="grid-content shrink">
                                    <img data-ng-src="{{person|kswImageFilter:100:person.id}}">
                                </div>
                                <div class="grid-content wrap collapse">
                                    <p title="{{person.title}}">{{person.title}}</p>
                                    <p class="email-container" title="{{person.email}}">{{person.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-content margin-bottom-10" data-ng-if="selectedCandidate.id">
                        <img data-ng-src="{{selectedCandidate|kswImageFilter:100:selectedCandidate.id}}" alt="{{selectedCandidate.title}}"/>
                    </div>

                    <div class="grid-content margin-bottom-10" data-ng-if="selectedCandidate.id">
                        <textarea data-ng-model="awardNominationData.comment" placeholder="Type your comment here..."></textarea>
                    </div>

                    <div class="grid-content margin-bottom-10" data-ng-if="selectedCandidate.id">
                        <a class="button success" data-ng-click="nominate()">NOMINATE</a>
                    </div>

                </div>
            </div>
            <div class="grid-content large-3">

                <div class="grid-block">
                    <div class="grid-content">
                        <h4>TAGS</h4>
                    </div>
                </div>
                <div class="grid-block">
                    <div class="grid-content">
                        <label>Add Tags:</label>
                       <span class="inline-label">
                <input type="text">
                <a href="#" class="button success">Add</a>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



