---
name: profile.personalSettings
url: /personalSettings
controller: PersonalSettingsCtrl
animationIn: fade
animationOut: fade
---


<form class="personal-settings-form">
    <div class="grid-block">
        <div class="grid-container">
            <div class="ten mobile-three columns" profile-image="fileValue">
            </div>
        </div>
    </div>

    <fieldset>
        <legend>PERSONAL SETTINGS</legend>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Name : </label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" placeholder="Name" class="eight">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Password : </label>
            </div>
            <div class="ten mobile-three columns">
                <input type="password" class="eight" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">

            </div>
            <div class="ten mobile-three columns">
                <a class="button" ng-click="saveDate()">Save</a>
            </div>
        </div>
    </fieldset>
</form>


