---
name: profile.personalSettings
url: /personalSettings
controller: PersonalSettingsCtrl
animateIn:  fadeIn
---

<form class="personal-settings-form">
    <div class="grid-block">
        <div class="small-12 medium-6 grid-content grid-content">
            <div class="row">
                <h3>Personal Settings</h3>
            </div>
                <div class="row">
                    <div class="two mobile-one columns">
                        <label class="right inline">Name : </label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" placeholder="Name" class="eight">
                    </div>
                </div>
                <div class="row">
                    <div class="two mobile-one columns">
                        <label class="right inline">Password : </label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="password" class="eight" placeholder="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="two mobile-one columns">

                    </div>
                    <div class="ten mobile-three columns">
                        <a class="button" ng-click="saveDate()">Save</a>
                    </div>
                </div>
        </div>
        <div class="small-12 medium-6 grid-content">
            <div class="row">
                <h3>Profile Picture</h3>
            </div>
            <div class="row">
                <div class="ten mobile-three columns" profile-image="fileValue">
                </div>
            </div>
        </div>
    </div>
</form>






