---
name: profile.personalSettings
url: /personalSettings
---


<form>
    <fieldset>
        <legend>PERSONAL SETTINGS</legend>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Address Name:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" placeholder="e.g. Home" class="eight">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">City:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" class="eight">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">ZIP:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" class="three">
            </div>
        </div>
    </fieldset>
</form>