---
name: myProfile.selectAward
url: selectAward
controller : selectAwardCtrl
animateIn:  fadeIn
---
<div class="grid-block horizontal">
    <div class="grid-content large-12">
        <div class="grid-block vertical select-award-main">

            <div class="grid-content">
                <div class="grid-block">
                    <div data-ng-repeat="(groupName,groupValue) in awardsGroup" class="grid-content large-3 small-11">
                        <h4>{{groupName | capitalize}}</h4>
                        <div class="card custom-card" data-ng-repeat="award in groupValue" data-ng-click="onAwardSelect(award)">
                            <img ng-src="{{award.imageUri}}">
                            <div class="card-section custom-section">
                                {{award.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>