---
name: myProfile.signal
url: /signal
controller : myProfileCtrl
animateIn:  fadeIn
---

<div class="grid-block horizontal">
    <div class="grid-content large-5">
        <div class="grid-block">
            <div class="grid-content">
                <div class="grid-block">
                    <div class="grid-content">
                       <h4 class="my-name-container">{{myName}}</h4>
                        <p class="my-email">{{myEmail}}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="grid-content large-7 small-11">
            <ksw-compose-signal ksw-signal="signal">

            </ksw-compose-signal>

            <ksw-people-picker>

            </ksw-people-picker>
        </div>
</div>