@mixin custom-text-styles($color, $decoration) {
  color: $color ;
  text-decoration: $decoration;
}

.text-grey{ color: $knot-grey-color;}
.text-white { color:white; }

.custom-anchor, .custom-anchor:hover{
  @include  custom-text-styles($knot-grey2-color, underline);
}

.login-button , .login-button:hover{
  background-color: $knot-orange-color;
}
.padding-logo{padding: 0 0 10px 50px;}
@media screen and (max-width: 1200px) {.padding-logo{padding:0 0 10px 0;}}

.login-block
{

  position: absolute;
  left: 50%;
  top: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 40%;
}

.font-16{ font-size: 16px;}
.font-14{ font-size: 14px;}
.font-18{ font-size: 18px;}




