.login-container{
  padding-top: 5%;

  .logo{
    padding-bottom: 40px;
  }

  .login-left{
    padding: 20px;

    .info{
      color: #ffffff;

      a{
        color: #ffffff;
        font-weight: bold;
      }
    }

    .login-button{
      width: 100%;
      margin: 0 0 1rem 0;
    }
    .sign-up-title{
      color: #ffc520;
      font-size: 25px;
      font-weight: bold;
    }
    .sign-up-hints{
      color: #ffffff;
    }
  }

  .login-right{
    padding: 20px;

    .headline{
      color: #ffc520;
    }
    .text{
      color: #ffffff;
    }
    .sign-up-link{
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 5px 0px 0px 5px;
    }
  }
}

.login-divider{
  border-left:1px solid rgb(13, 116, 106);
  max-width: 1.33%;
}