@mixin setHoverBackground($background-color){
  a:hover{
    background-color: transparent;
    color: white;
  }
  a{
    color: white;
  }
  background-color: $background-color;
  margin-bottom:2px !important;
}

.my-profile {

  .myPhoto {
   max-height: 200px;
    width: 100%;
  }
  .my-email{
    color: #43b8ea;
  }
  .my-name-container{
    margin-top: 0;
    margin-bottom: 2px;
    line-height: 16px;
  }
  .networkLinkBackground {
    @include setHoverBackground(rgb(110, 142, 106));
  }
  .spacesLinkBackground {
    @include setHoverBackground(rgb(183, 26, 129));
  }
  .viewAwardGalleryLinkBackground {
    @include setHoverBackground(rgb(0, 154, 174));
  }
  .nominateAnAwardLinkBackground {
    @include setHoverBackground(rgb(46, 46, 46));
  }
  .block-list {
    header{
      margin-top: 0;
      margin-bottom: 3px;
      margin-left: 0;
    }
  }
}

