.site-header{
  .divider{
    border-left: 1px rgb(108, 115, 108) solid;
  }

  .iconic{
    margin: 0 0.2rem 0 0.2rem!important;
  }

  .user-icon{
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }

  .user-info{
   padding: .4rem .4rem .4rem 6rem;
  }

  .menu-group-flex-row {
    a {
      flex-flow: row nowrap !important;
//      font-size: 0.8571rem !important;
    }
  }

  .menu-bar-has-action-sheet {
    overflow-x: visible;
  }

  .action-sheet-container .action-trigger{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: $menubar-item-padding;
    font-size: $menubar-fontsize;
    line-height: 1;
    flex-flow: row nowrap;

    &:hover {

    }

    > img, > .iconic { margin: 0 $menubar-icon-spacing 0 0; }
  }
}

