.site-header{
  .divider{
    border-left: 1px rgb(108, 115, 108) solid;
  }

  .iconic{
    margin: 0 0.2rem 0 0.2rem!important;
  }

  .user-icon{
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }

  .menu-group-flex-row {
    a {
      flex-flow: row nowrap !important;
//      font-size: 0.8571rem !important;
    }
  }
}