@import "kswCustom";

.network-container{
  margin-left: 2px !important;
  img{
    float: left;
    height: 92px;
    width: 96px;
  }
  .network-container-results{

  }
  h4{
    color: #000000;
  }
  .custom-network-container-card{
    @extend .ksw-custom-card
  }
  .selected-card{
    border: 2px solid green;
  }
}