.network-container{
  margin-left: 2px !important;
  img{
    float: left;
    height: 100px;
    width: 96px;
  }
  .network-container-results{

  }
  h4{
    color: white;
  }
  .custom-network-container-card{
    cursor: pointer;
    p{
      line-height: 0;
      text-align: center;
      font-size: 14px;
      color: rgb(67, 184, 234);
    }
    p:first-of-type{
      padding-top: 36px;
      color: #000000;
      font-weight:bold;
    }
    .email-container{
      text-overflow: ellipsis;
      width: 188px;
      white-space: nowrap;
      overflow: hidden;
      padding: 10px;
    }
    @media only screen and (min-width: 90.063em) and (max-width: 120em) {
      .email-container{
        width: 100%;
      }
    }
  }

  .selected-card{
    border: 2px solid green;
  }
}