.nominate-award-main{
  .custom-card{
    img{
      width: 60%;
      margin-left: 19%;
      margin-top: 1%;
    }
    .custom-section{
      text-align: center;
    }
  }
  h4{
    color: rgb(84, 175, 166);
  }
}