.people-picker {
  background: #E4E9EC;
  padding: 4px;
  z-index: 1;
  position: absolute;
  margin: 4px!important;
  margin-top: -18px!important;
  border: 2px solid rgb(171, 169, 169);
  img {
    float: left;
    height: 100px;
    width: 96px;
    padding-left: 16px;
  }
  .people-picker-results {
    height: 450px;
    overflow-y: auto !important;
  }
  .custom-people-picker-card {
    background-color: rgb(245, 255, 243);
    cursor: pointer;
    p {
      line-height: 0;
      text-align: left;
      font-size: 14px;
      color: rgb(67, 184, 234);
    }
    p:first-of-type {
      color: #000000;
      margin-bottom: 0px;
      text-overflow: ellipsis;
      width: 188px;
      white-space: nowrap;
      overflow: hidden;
      padding: 36px 10px 10px;
    }
    .email-container {
      text-overflow: ellipsis;
      width: 188px;
      white-space: nowrap;
      overflow: hidden;
      padding: 10px;
      font-size: 12px;
    }
    @media only screen and (min-width: 90.063em) and (max-width: 120em) {
      .email-container {
        width: 100%;
      }
    }
  }

  .selected-card {
    border: 2px solid green;
  }
}