.people-picker{
  margin-left: 2px !important;
  margin-top: 4px;
  background: rgb(224, 232, 237);
  padding: 4px;
  img{
    float: left;
    height: 100px;
    width: 96px;
  }
  .people-picker-results{
    height: 450px;
    overflow-y: auto!important;
  }
  .custom-people-picker-card{
//    width: 360px;
//    margin-right: 14px;
    height: 100px;
    cursor: pointer;
    p{
      line-height: 0;
      text-align: center;
      font-size: 14px;
      color: rgb(67, 184, 234);
    }
    p:first-of-type{
      padding-top: 36px;
      color: #000000;
      font-weight:bold;
    }
  }

  .selected-card{
    border: 2px solid green;
  }
}