.compose-signal{
  background-color: rgb(11, 90, 11);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 11px;
  margin-left: 2px!important;
  .audience{
    color: white;
  }
  .signal-post-button{
    float: right;
    width: 90px;
  }
  textarea{
    resize: none;
    margin-bottom:0;
    border: none;
  }
  .tagged-people{
    margin-bottom: 4px;
    background-color: white;
  }
}