$personal-settings-form-background-color:white;
$personal-settings-form-background-padding:17px;
$profile-image-max-width:248px;
$profile-image-max-height:300px;

//Application Background Colors
$background-color-primary: $primary-color;
$background-color-secondary: $secondary-color;
$background-color-alert: $alert-color;
$background-color-info: $info-color;
$background-color-success: $success-color;
$background-color-warning: $warning-color;
$background-color-dark: #232323;
$background-color-gray: #dfdfdf;

$knot-blue-color:  #074e68;
$knot-orange-color:  #DC6A00;
$knot-white-color: #fff;
$knot-navy-color: #13625B;
$knot-grey-color: #706C71;
$knot-grey2-color: #574833;