
@import "settings";
@import "foundation";
@import "color";
@import "login";
@import "variables";

.knot-container{
  background-color: $knot-navy-color;
}

.grid-container{
  max-width: 100%;
}

.personal-settings-form{
  background-color: $personal-settings-form-background-color;
  padding: $personal-settings-form-background-padding;
}

.profile-image{
  max-width: $profile-image-max-width;
  height: $profile-image-max-height;
}