
@import "settings";
@import "foundation";
@import "font-awesome";
@import "color";
@import "login";
@import "variables";
@import "navigation";
@import "myProfile";
@import "fontawesomeoverride";
@import "signal";

.knot-container{
  background-color: $knot-navy-color;
}

.grid-container{
  max-width: 100%;
}

.personal-settings-form{
  background-color: $personal-settings-form-background-color;
  padding: $personal-settings-form-background-padding;
}

.profile-image{
  max-width: $profile-image-max-width;
  height: $profile-image-max-height;
}

.custom-block-list{
  padding-top: 1px;
  background-color: white;
}

.custom-grid-content{
  padding-top: 3px;
}
body{
  background-image: url('/assets/img/main-background.jpg');
}

