<div class="grid-block vertical compose-signal">
        <div class="grid-content">
            <textarea placeholder="Compose Signal..." data-ng-click="showBottomPart()" data-ng-model="signal.message"></textarea>
            <div class="tagged-people" data-ng-if="signal.taggedPeople.length > 0">
                <img data-ng-src="{{person}}" alt="NA" data-ng-repeat="person in signal.taggedPeople"/>
            </div>

            <div class="attached-files">
                <label>File1 <i class="fa fa-close"></i> </label>
                <label>File2 <i class="fa fa-close"></i> </label>
                <label>File3 <i class="fa fa-close"></i></label>
            </div>

            <div class="signal-attachments">
            </div>
        </div>
        <div class="grid-content signal-bottom">
            <div class="signal-people-picker" data-ng-click="showPeoplePicker()">

            </div>
            <div class="signal-connection">

            </div>
            <div class="signal-attachment">
                <input type="file" name="upload" data-ksw-file-on-change="onAttachmentChange()"/>
            </div>
            <div class="signal-audience">
                <a href="#">Audience: <b>All Employees</b></a>
            </div>
            <div class="signal-post-button">
                <a href="#" class="button warning" ng-click="postSignal(signal)">Post</a>
            </div>
        </div>
</div>


