<div class="grid-block vertical compose-signal">
        <div class="grid-content">
            <textarea placeholder="Compose Signal..." data-ng-click="showBottomPart()"></textarea>
            <div class="tagged-people">
            </div>
        </div>
        <div class="grid-content" data-ng-if="isClickedInTextArea">
            <img src="../../assets/img/icons/signal/titlebar_close_icon.png">
            <img src="../../assets/img/icons/signal/topbar_btn_ico_alert_contact.png">
            <img src="../../assets/img/icons/signal/topbar_btn_ico_alert_messages.png">
            <a href="#" class="audience">Audience: <b>All Employees</b></a>
            <a href="#" class="button warning signal-post-button">Post</a>
        </div>
</div>
