<div class="grid-block vertical people-picker" data-ng-if="peoplePickerFlag">
    <div class="grid-content">
        <div class="grid-block">
            <div class="grid-content large-6 medium-9 small-11">
                <select ng-model="selectedPeoplePickerGroup"
                        ng-options="group as group.value for group in peoplePickerGroups"
                        data-ng-change="updatePeoplePickerResults(selectedPeoplePickerGroup)">
                </select>
            </div>
           <div class="grid-content large-6 medium-9 small-11">
               <span class="inline-label">
                <input type="search"
                       data-ng-model="peopleSearchText"
                       placeholder="Search people....."
                       data-ng-keyup="$event.keyCode == 13 ? findPeople(peopleSearchText) : null">
                <a href="#" class="button" data-ng-click="findPeople(peopleSearchText)">Search</a>
            </span>
           </div>
        </div>
    </div>

    <div class="grid-content people-picker-results">
        <div class="grid-block horizontal">
            <div data-ng-repeat="(groupName,groupValue) in selectedGroup">
                <h4>{{capitalize(groupName)}}</h4>
                <div class="card custom-people-picker-card"
                     data-ng-repeat="person in groupValue"
                     data-ng-class="{ 'selected-card': person.isSelected }"
                     data-ng-click="toggleSelectPeople(person)">
                    <img ng-src="{{person.smallpicture}}">
                    <p>{{person.title}}</p>
                    <p>{{person.email}}<p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <a href="" class="button warning"  data-ng-click="hidePeoplePicker()">Close</a>
    </div>
</div>