---
name: previewKnotSoft
url: /previewKnotSoft
animationIn: fadeIn
---

<div class="preview-app">
    <div class="vertical medium-horizontal align-center grid-block">
        <div class="grid-block medium-1 large-1 hide-for-small"></div>

        <div class="grid-content medium-5 large-4 preview-app-left">

        </div>

        <div class="grid-content medium-1 preview-app-divider">

        </div>

        <div class="grid-content medium-5 large-4 preview-app-right">
            <a href="/" class="text-color-white float-right">BACK TO HOME</a>
        </div>

        <div class="grid-block medium-1 large-2 hide-for-small"></div>
    </div>

    <div class="vertical medium-horizontal align-center grid-block">
        <div class="grid-block medium-1 large-1 hide-for-small"></div>

        <div class="grid-content medium-5 large-4 preview-app-left knot-suite-box-background">
            <div class="grid-block">
                <div class="small-10 medium-10 large-10 grid-content">
                    <img src="assets/img/knotsoft.png"/>
                </div>

            </div>

            <div class="grid-block">
                <div class="small-10 medium-10 large-10 grid-content">
                    <h3 class="text-color-white">What is this?</h3>
                    <p class="text-color-white">Windows 8 desktop/tablet app</p>
                </div>
            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-10 grid-content">
                    <video height="250px" controls="">
                        <source type="video/webm" src="/assets/videos/sample.webm">
                    </video>
                </div>
            </div>

        </div>

        <div class="grid-content medium-1 preview-app-divider"></div>

        <div class="grid-content medium-5 large-4 preview-app-right knot-suite-box-background">
            <div class="grid-block">
                <div class="small-10 medium-12 large-10 grid-content">
                    <h3 class="text-color-white">Want a preview invite?</h3>
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-12 large-10 grid-content">
                    <p class="text-color-white">
                        We are having a limited public preview release.
                        Please register to have a glimpse of
                        the future of work! We promise never to spam you.
                    </p>
                </div>
            </div>
            <div class="grid-block" style="margin-top: 11%">
                <div class="small-10 medium-10 large-10 grid-content">
                    <input placeholder="Your Name" data-ng-model="request.name" type="text">
                </div>
            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-10 grid-content">
                    <input placeholder="Email Address" data-ng-model="request.name" type="text">
                </div>

            </div>
            <div class="grid-block">
                <div class="small-10 medium-10 large-10 grid-content">
                    <a class="expand button success login-button" href="javascript:;" data-ng-click="sendPreviewRequest()">Invite me to preview</a>
                </div>

            </div>
            <div class="grid-block">
                <div class="grid-content">
                    <p class="about-knot-suite">
                        <a href="#">App Download link</a> |
                        <a href="/knotSoftInstruction">App Installation Instruction</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-block medium-1 large-1 hide-for-small"></div>
    </div>
</div>