---
name: connectionRequest
url: /connectionRequest
controller: ConnectionRequestCtrl
---

<div class="grid-content">
    <div class="grid-block">
        <span class="inline-label grid-content large-4 medium-4 small-6">
<label> CREATE CONNECTIONS</label>
<div>
    <select ng-model="selectedAccount"
            ng-selected="0"
            ng-options="request as request.title for request in organizationsConnectionRequest"
            data-ng-change="accountOnChange(selectedAccount)">
    </select>
</div>
</span>
    </div>
    <div class="grid-block horizontal">
        <div class="large-4 medium-grid-content sidebar vertical panel panel-left" ng-class="positionClass"
             ng-transclude="" zf-panel="" id="leftSidebar" zf-closable="panel">
            <div class="grid-content">

                <section class="block-list">
                    <div class="connection-request-header">
                        <h6>CONNECTION REQUEST</h6>
                        <a href="" class="button success" data-ng-click="acceptAll()">Accept All</a>
                        <span><a zf-close="" class="close-button hide-for-medium">×</a></span>
                    </div>

                    <div class="connection-request-main" ksw-dynamic-height parent=".ksw-content" reduce="170">
                        <div class="grid-content request" data-ng-repeat="request in allConnections.connectionRequests">
                            <div class="request-left">
                                <img data-ng-if="request.entityType == 'Person'" data-ng-src="{{request.entityId | kswImageFilter: 60:request.entityId}}"
                                     alt=""/>
                                <img data-ng-if="request.entityType == 'Organization'" data-ng-src="{{request.entityId | kswImageFilter: 60:request.entityId:true}}"
                                     alt=""/>
                                <p>{{request.title}}</p>
                            </div>
                            <div class="request-right">
                                <input type="text" data-ng-model="request.relation"/>
                                <div class="request-accept" data-ng-click="acceptRequest(request)" title="Accept">

                                </div>
                                <div class="request-reject" data-ng-click="rejectRequest(request)" title="Reject">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="large-4 grid-content">
            <a class="small secondary expand button hide-for-medium" zf-toggle="leftSidebar">Show Conversations</a>
            <a class="small secondary expand button hide-for-medium" zf-toggle="rightSidebar">Show People</a>

            <div class="grid-container conversation">
                <section class="block-list">
                    <div class="invitation-header">
                        <h6>INVITATION</h6>
                    </div>

                    <div class="invitation-search">
                            <span class="inline-label">
                                <input type="search" placeholder="Email Address or Name" data-ng-change="updateSearchResults(searchKey)" data-ng-model="searchKey">
                                    <a href="#" class="button success">ADD</a>
                            </span>
                    </div>
                    <div class="search-result-main" data-ng-if="searchResults.length">
                        <div class="search-result" data-ng-repeat="result in searchResults" data-ng-click="selectResult(result)">
                            <img data-ng-if="result.entityType == 'Person'" data-ng-src="{{result.entityId | kswImageFilter: 60:result.entityId}}"
                                 alt=""/>
                            <img data-ng-if="result.entityType == 'Organization'" data-ng-src="{{result.entityId | kswImageFilter: 60:result.entityId:true}}"
                                 alt=""/>
                            <p>{{result.title}}</p>
                        </div>
                    </div>

                    <div class="invitation-main" ksw-dynamic-height parent=".ksw-content" reduce="170">

                        <div class="grid-content send-connection" data-ng-repeat="connection in selectedConnections">
                            <div class="send-connection-left">
                                <img data-ng-if="connection.entityType == 'Person'" data-ng-src="{{connection.entityId | kswImageFilter: 60:connection.entityId}}"
                                     alt=""/>
                                <img data-ng-if="connection.entityType == 'Organization'" data-ng-src="{{connection.entityId | kswImageFilter: 60:connection.entityId:true}}"
                                     alt=""/>
                                <p>{{connection.title}}</p>
                            </div>
                            <div class="send-connection-right">
                                <input type="text" data-ng-model="connection.relation"/>
                                <div class="send-connection-accept" data-ng-click="sendInvitation(connection)" title="Send">

                                </div>
                                <div class="send-connection-reject" data-ng-click="removeInvitation(connection)" title="Remove">

                                </div>
                            </div>
                        </div>

                        <div class="invitation-bottom" data-ng-if="selectedConnections.length">
                            <a href="" class="warning button" data-ng-click="sendInvitationToAll()">Send Invitation To All</a>
                        </div>
                    </div>

                </section>
            </div>

        </div>

        <div class="large-4 medium-grid-content sidebar vertical panel panel-left" ng-class="positionClass"
             ng-transclude="" zf-panel="" id="rightSidebar" zf-closable="panel">
            <div class="grid-content">

                <section class="block-list">

                    <div class="people-you-may-know-header">
                        <h6>PEOPLE YOU MAY KNOW</h6>
                        <a href="" class="button success" data-ng-click="sendRequestAll()">Send Request to All</a>
                        <span><a zf-close="" class="close-button hide-for-medium">×</a></span>
                    </div>

                    <div class="people-you-may-know" ksw-dynamic-height parent=".ksw-content" reduce="170">
                        <div class="grid-content recommended" data-ng-repeat="recommended in allConnections.recommendedConnections">
                            <div class="recommended-left">
                                <img data-ng-if="recommended.entityType == 'Person'" data-ng-src="{{recommended.entityId | kswImageFilter: 60:recommended.entityId}}"
                                     alt=""/>
                                <img data-ng-if="recommended.entityType == 'Organization'" data-ng-src="{{recommended.entityId | kswImageFilter: 60:recommended.entityId:true}}"
                                     alt=""/>
                                <p>{{recommended.title}}</p>
                            </div>
                            <div class="recommended-right">
                                <input type="text" data-ng-model="recommended.relation"/>
                                <div class="recommended-accept" data-ng-click="sendRequest(recommended)" title="Accept">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>